aioping==0.4.0          # For network ping operations
dask==2025.3.0          # For parallel processing of large datasets
fqdn==1.5.1
isoduration==20.11.0
jsonpointer==3.0.0
openpyxl==3.1.5         # For Excel file handling
numpy==2.0.1            # For numerical operations
pandas==2.2.2           # For data manipulation
pyarrow==19.0.1         # For efficient data handling with pandas/dask
scapy==2.6.1            # For network packet manipulation
tqdm==4.66.4            # For progress bars
XlsxWriter==3.2.2       # For writing Excel files
psutil==7.0.0
netifaces2==0.0.22      # Handle network interfaces
dnspython==2.7.0
urllib3==2.4.0
beautifulsoup4==4.13.4
